RewriteEngine On
RewriteBase /
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^parquedavilla\.com\.br$ [OR]
RewriteCond %{HTTP_HOST} ^www\.parquedavilla\.com\.br$
RewriteRule ^/?$ "https\:\/\/parquedavilla\.com\.br\/" [R=301,L]
RewriteRule ^([^\.]+)$ $1.php [NC,L]